{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='employee/main.js')}}">
    </script>
{% endblock %}
{% block page_content %}
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="row">
                    <h1>ข้อมูลสถิติบุคลากร</h1>
                </div>
                <div class="row">
                    <h3>ตำแหน่งอาจารย์ รวม <span id="total-lecturer"></span> คน</h3>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="card">
                            <div class="content">
                                <canvas id="lecturer-title-chart"></canvas>
                                <h4>จำนวนอาจารย์แยกตามตำแหน่งวิชาการ</h4>
                                <table id="lecturer-title-table" class="table table-bordered">
                                    <thead>
                                    <th>อาจารย์</th>
                                    <th>ผู้ช่วยศาสตราจารย์</th>
                                    <th>รองศาสตรจารย์</th>
                                    <th>ศาสตราจารย์</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="content">
                                <canvas id="lecturer-degree-chart"></canvas>
                                <h4>จำนวนอาจารย์แยกตามวุฒิการศึกษาสูงสุด</h4>
                                <table id="lecturer-degree-table" class="table table-bordered">
                                    <thead>
                                    <th>ปริญญาเอก</th>
                                    <th>อืนๆ</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>รายชื่อคณาจารย์และบุคลากรตามภาควิชาและศูนย์</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="list-group">
                            <a href="{{ url_for('employee.list_staff', department_slug='clinchem') }}"
                                class="list-group-item">Department of Clinical Chemistry</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='micros') }}"
                                class="list-group-item">Department of Clinical Microscopy</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='microbio') }}"
                                class="list-group-item">Department of Clinical Microbiology and Applied Technology</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='community-mt') }}"
                                class="list-group-item">Department of Community Medical Technology</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='radiology') }}"
                                class="list-group-item">Department of Radiology</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='stand-validate') }}"
                                class="list-group-item">Department of Center for Standardization and Product Validation</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='research-inno') }}"
                                class="list-group-item">Department of Center for Research and Innovation</a>
                            <a href="{{ url_for('employee.list_staff', department_slug='data-mining') }}"
                                class="list-group-item">Department of Center for Data Mining and Biomedical Informatics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
