{% extends "base.html" %}
{% block title %}<title>MIS Education</title>{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='education/main.js')}}">
    </script>
{% endblock %}
{% block page_content %}
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <h1>Education</h1>
                </div>
                <div class="row">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="row">
                    <h2>Undergraduate Level</h2>
                    <br>
                </div>
                <div class="row">
                    <h3>ผลการสอบใบประกอบวิชาชีพ</h3>
                    <div class="col-md-6">
                        <h4>สาขาบัณฑิตเทคนิคการแพทย์</h4>
                        <canvas id="mt-license-chart"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h4>สาขาบัณฑิตรังสีเทคนิค</h4>
                        <canvas id="rt-license-chart"></canvas>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <h3>ผลการประเมินตนเองของนักศึกษาปี 4 ต่อพัฒนาการตามลักษณะ Well-rounded Scholar</h3>
                    <div class="col-md-6">
                        <h4>ปีการศึกษา 2557</h4>
                        <canvas id="wrs-dev-chart-1"></canvas>
                    </div>
                    <div class="col-md-6">
                        <h4>ปีการศึกษา 2558</h4>
                        <canvas id="wrs-dev-chart-2"></canvas>
                    </div>
                </div><br><br>
                <div class="row">
                    <h3>ผลการประเมินตนเองโดยผู้สำเร็จการศึกษาในด้านศักยภาพตามคุณสมบัติ Well-rounded Scholar</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="wrs-chart"></canvas>
                    </div>
                </div><br><br>
                <div class="row">
                    <h2>Graduate Level</h2>
                    <br>
                </div>
                <div class="row">
                    <h3>ค่าเฉลี่ยของระดับความพึงพอใจของผลการประเมินศักยภาพในการปฏิบัติงานของบัณฑิตระดับบัณฑิตศึกษาที่สำเร็จการศึกษาโดยผู้ใช้บัณฑิต</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="satisfaction-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

