{% extends "base.html" %}
{% block title %}<title>MIS Education</title>{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='education/main.js')}}">
    </script>
{% endblock %}
{% block page_content %}
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <h1>Education</h1>
                    <br>
                </div>
                <div class="row">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <h3>ผลการประเมินตนเองโดยผู้สำเร็จการศึกษาในด้านศักยภาพตามคุณสมบัติ Well-rounded Scholar</h3>
                        <canvas id="wrs-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

