{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='health_services/main.js')}}">
    </script>
{% endblock %}
{% block page_content %}
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <h2>Health Services</h2>
                </div>
                <div class="row">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="row">
                    <h3>สถิติลูกค้างานบริการสุขภาพ</h3>
                </div>
                <div class="row">
                    <canvas id="customer-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
