{% extends "bootstrap/base.html" %}
{% block title %}MIS-Health Services{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/jquery.min.js') }}"
            type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='vendors/knockout.js') }}"
            type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='vendors/Chart.min.js') }}"
            type="text/javascript">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='health_services/main.js')}}">
    </script>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        <h2>Health Services</h2>
        <div class="row">
            <div class="col-md-8">
                <canvas id="customer-chart"></canvas>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
