{% extends "base.html" %}
{% block title %}<title>MIS Main</title>{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var viewModel = function() {
        this.message = ko.observable();
    };
    var vm = new viewModel();
    ko.applyBindings(vm);
    vm.message('Hello, users!');
</script>

{% endblock %}
{% block page_content %}
<div class="container">
    <div>
        <div class="center-align">
            <img class="responsive-img" src="{{ url_for('static', filename='img/Mahidol_MedTech1-4.jpg') }}" width="300">
        </div>
        <h5 class="center-align">Management Information System</h5>
        <h5 class="center-align">ระบบจัดการข้อมูลสำหรับงานบริหาร<br>คณะเทคนิคการแพทย์มหาวิทยาลัยมหิดล</h5>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">blur_on</i>Research</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">school</i>Education</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">public</i>Services</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">group</i>Employee</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Staff Login</div>
            <div class="collapsible-body"><span>บางส่วนของระบบ MIS รองรับเฉพาะผู้ใช้งานที่มีบัญชีอีเมลของ Google education ของมหาวิทยาลัยมหิดลที่มีรูปแบบ name.xxx@mahidol.edu เท่านั้น
                โปรด<a href="/">ลงทะเบียนอีเมล</a> หรือ <a href="{{ url_for('user.index')}}">sign in</a> เพื่อเข้าใช้งานระบบถ้าหากท่านมีอีเมลแล้ว</span></div>
        </li>
    </ul>
</div>
{% endblock %}