{% extends "base.html" %}
{% block title %}<title>MIS Main</title>{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var viewModel = function() {
        this.message = ko.observable();
    };
    var vm = new viewModel();
    ko.applyBindings(vm);
    vm.message('Hello, users!');
</script>

{% endblock %}
{% block page_content %}
    <div class="wrapper">
        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <h1 class="title text-center">MUMT Management Information System</h1>
                    <h1 class="title text-center"><small>ระบบบริหารจัดการข้อมูลของคณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล</small></h1>
                    <div class="features">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="material-icons">public</i>
                                    </div>
                                    <a href="{{ url_for('research.main') }}">
                                        <h4 class="info-title">ข้อมูลงานวิจัย</h4>
                                    </a>
                                    <p>ผลงานวิจัย, จำนวนการอ้างอิง, ข้อมูลนักวิจัย, รายการผลงานวิจัยจากฐานข้อมูล Scopus</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="material-icons">school</i>
                                    </div>
                                    <a href="{{ url_for('edu.index') }}">
                                        <h4 class="info-title">ข้อมูลงานการศึกษา</h4>
                                    </a>
                                    <p>ผลการสอบใบประกอบวิชาชีพ, ผลการประเมินตนเองและผู้มีส่วนได้ส่วนเสีย, อัตราการได้งานทำ</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                    <i class="material-icons">supervisor_account</i>
                                </div>
                                    <a href="{{  url_for('employee.main') }}">
                                        <h4 class="info-title">ข้อมูลบุคลากร</h4>
                                    </a>
                                    <p>ข้อมูลบุคลากรแบ่งตามหน่วยงาน, ตำแหน่งวิชาการ, วุฒิการศึกษา​</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                    </div>
                                    <a href="{{  url_for('healthservice.index') }}">
                                        <h4 class="info-title">ข้อมูลงานบริการวิชาการ</h4>
                                    </a>
                                    <p>ผลการประกอบการ,​จำนวนลูกค้า, ผลการประเมินความพึงพอใจ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}