{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='research/department_all.js')}}">
    </script>
{% endblock %}
{% block page_content %}
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row">
                    <h1>ผลงานวิจัย</h1>
                </div>
                <div class="row">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation"><a href="{{ url_for('research.main') }}" role="tab">Overall</a></li>
                        <li role="presentation"><a href="{{ url_for('research.benchmark') }}" role="tab">Benchmark</a></li>
                        <li role="presentation" class="active"><a href="#" role="tab">Department</a></li>
                        <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                    </ul>
                    <br/>
                </div>
                <div class="row">
                    <h3>All Departments and Centers</h3>
                    <h4>Total <span id="all-total-articles"></span> articles.</h4>
                    <canvas id="all-chart" height="30"></canvas>
                </div>
                <div class="row">
                    <h3>Center for Data Mining and Biomedical Informatics</h3>
                    <h4>Total <span id="data-mining-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="data-mining-productivity"></span> article/researcher/year.</h4>
                    <canvas id="datamining-chart" height="30"></canvas>
                    <a href="#data-mining-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="data-mining-articles-collapse">Show List</a>
                    <div class="collapse" id="data-mining-articles-collapse">
                        <ul id="data-mining-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Center for Research and Innovation</h3>
                    <h4>Total <span id="research-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="research-productivity"></span> article/researcher/year.</h4>
                    <canvas id="research-chart" height="30"></canvas>
                    <a href="#research-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="research-articles-collapse">Show List</a>
                    <div class="collapse" id="research-articles-collapse">
                        <ul id="research-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Clinical Microbiology and Applied Technology</h3>
                    <h4>Total <span id="microbio-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="microbio-productivity"></span> article/researcher/year.</h4>
                    <canvas id="microbio-chart" height="30"></canvas>
                    <a href="#microbio-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="microbio-articles-collapse">Show List</a>
                    <div class="collapse" id="microbio-articles-collapse">
                        <ul id="microbio-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Clinical Microscopy</h3>
                    <h4>Total <span id="micros-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="micros-productivity"></span> article/researcher/year.</h4>
                    <canvas id="micros-chart" height="30"></canvas>
                    <a href="#micros-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="micros-articles-collapse">Show List</a>
                    <div class="collapse" id="micros-articles-collapse">
                        <ul id="micros-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Clinical Chemistry</h3>
                    <h4>Total <span id="clinchem-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="clinchem-productivity"></span> article/researcher/year.</h4>
                    <canvas id="clinchem-chart" height="30"></canvas>
                    <a href="#clinchem-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="clinchem-articles-collapse">Show List</a>
                    <div class="collapse" id="clinchem-articles-collapse">
                        <ul id="clinchem-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Radiological Technology</h3>
                    <h4>Total <span id="radiology-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="radiology-productivity"></span> article/researcher/year.</h4>
                    <canvas id="radiology-chart" height="30"></canvas>
                    <a href="#radiology-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="radiology-articles-collapse">Show List</a>
                    <div class="collapse" id="radiology-articles-collapse">
                        <ul id="radiology-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Community Medical Technology</h3>
                    <h4>Total <span id="commt-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="commt-productivity"></span> article/researcher/year.</h4>
                    <canvas id="commt-chart" height="30"></canvas>
                    <a href="#commt-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="commt-articles-collapse">Show List</a>
                    <div class="collapse" id="commt-articles-collapse">
                        <ul id="commt-articles-list"></ul>
                    </div>
                </div>
                <div class="row">
                    <h3>Center for Standardization and Product Validation</h3>
                    <h4>Total <span id="standval-total-articles"></span> articles.</h4>
                    <h4 class="text-danger">Current Productivity = <span id="standval-productivity"></span> article/researcher/year.</h4>
                    <canvas id="standval-chart" height="30"></canvas>
                    <a href="#standval-articles-collapse" role="button" data-toggle="collapse"
                       aria-expanded="false" aria-controls="standval-articles-collapse">Show List</a>
                    <div class="collapse" id="standval-articles-collapse">
                        <ul id="standval-articles-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
