{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
        src="{{ url_for('static', filename='research/main.js')}}">
    </script>
{% endblock %}
{% block page_content %}
    <div class="wrapper">
        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <div class="row">
                        <h1>ผลงานวิจัย</h1>
                    </div>
                    <div class="row">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#" role="tab">Overall</a></li>
                            <li role="presentation"><a href="{{ url_for('research.benchmark') }}" role="tab">Benchmark</a></li>
                            <li role="presentation"><a href="{{ url_for('research.show_department_all') }}" role="tab">Department</a></li>
                            <li role="presentation"><a href="{{ url_for('main.main') }}" role="tab">Home</a></li>
                        </ul>
                        <br/>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>จำนวนผลงานวิจัยต่อปี</h3>
                            <br/>
                            <canvas id="articles_per_year"></canvas>
                        </div>
                        <div class="col-md-6">
                            <h3>จำนวนครั้งที่อ้างอิงงานวิจัย</h3>
                            <br/>
                            <canvas id="citations_per_year"></canvas>
                        </div>
                    </div> <!-- row: graphs -->
                    <br><br>
                    <div class="row">
                        <div class="col-md-7">
                            <h3>จำนวนผลงานวิจัยปีปัจจุบัน</h3>
                            <br>
                            <h4>รวม <span id="all-total-articles"></span> บทความ</h4>
                            <canvas id="all-chart" height="60"></canvas>
                            <a href="{{ url_for('research.show_department_all') }}">ดูผลงานแยกตามหน่วยงาน</a>
                            <h5 class="text-right">Scopus Research Areas <i class="fa fa-chevron-right"></i></h5>
                            <p class="text-right">PHAR=Pharmacology, Toxicology and Pharmaceuticals,
                            BIOC=Biochemistry, Genetics and Molecular Biology,
                            CENG=Chemical Engineering, NEUR=Neuroscience, COMP=Computer Science,
                            HEAL=Health Profession, MATH=Mathematics, PHYS=Physics and Astronomy,
                            MULT=Multidisciplinary, AGRI=Agriculture and Biological Sciences</p>
                        </div>
                        <div class="col-md-4">
                            <h3>งานวิจัยแยกตามสาขา</h3>
                            <br>
                            <canvas id="article-by-field"></canvas>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <h3>รายการผลงานวิจัยตั้งแต่ปี 2010 ถึงปัจจุบัน</h3>
                        <div class="input-group col-md-6">
                            <input id="articleSearch" type="text" class="form-control"
                                   data-bind="textInput: query"
                                   placeholder="ค้นหาจากชื่อเรื่อง ชื่อวารสาร และผู้วิจัย.."/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4 data-bind="if: query()!==''">Found <span data-bind="text: filteredArticles().length"></span></h4>
                            <button class="btn waves-effect waves-light" role="button"
                                    data-bind="click: sortArticlesByTitle">Sort by Title
                            </button>
                            <button class="btn waves-effect waves-light" role="button"
                                    data-bind="click: sortArticlesByJournal">Sort by Journal
                            </button>
                            <button class="btn waves-effect waves-light" role="button"
                                    data-bind="click: sortArticlesByDate">Sort by Date
                            </button>
                            <button class="btn waves-effect waves-light" role="button"
                                    data-bind="click: sortArticlesByCitation">Sort by Citation Count
                            </button>
                        </div>
                    </div> <!-- row: buttons -->
                    <div class="row">
                        <h3 data-bind="if: loading">Preparing the article list...</h3>
                        <h4>หน้าที่ <span data-bind="text: currpage()+1"></span></h4>
                        <ul class="pagination pagination-primary" data-bind="if: pages().length > 1">
                            <li class="waves-effect">
                                <a href="#" data-bind="click: function() { $root.currpage(0); }">
                                    <i class="material-icons">first_page</i>
                                </a>
                            </li>
                            <!-- ko foreach: {data: pages, as: 'page'} -->
                            <li class="waves-effect"><a href="#" data-bind="text: $data+1, click: function() { $root.currpage($data) }"></a></li>
                            <!-- /ko -->
                            <li>
                                <a href="#" data-bind=", click: function() { $root.currpage(pages()[pages().length-1]); }">
                                    <i class="material-icons">last_page</i>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- row: pagination buttons -->
                    <div class="row">
                        <table class="table">
                            <thead>
                            <th>Title</th>
                            <th>Publisher</th>
                            <th>Date</th>
                            <th>Authors</th>
                            </thead>
                            <tbody data-bind="foreach: {data: paginated, as: 'article'}">
                            <tr>
                                <td>
                                    <span data-bind="text: article.title"></span>
                                    <a href="#" role="button" data-toggle="modal"
                                       data-bind='attr: {"data-target": "#" + $index()}'>View abstract</a>
                                    <strong>Cited</strong> <span class="badge" data-bind="text: article.citedByCount"></span>
                                </td>
                                <td data-bind="text: article.journal"></td>
                                <td data-bind="text: article.coverDateString"></td>
                                <td data-bind="foreach: article.authors">
                                    <span data-bind="text: name"></span>,
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- row: table: articles -->
                    <div class="row">
                        <h4>หน้าที่ <span data-bind="text: currpage()+1"></span></h4>
                        <ul class="pagination pagination-primary" data-bind="if: pages().length > 1">
                            <li class="waves-effect">
                                <a href="#" data-bind="click: function() { $root.currpage(0); }">
                                    <i class="material-icons">first_page</i>
                                </a>
                            </li>
                            <!-- ko foreach: {data: pages, as: 'page'} -->
                            <li class="waves-effect"><a href="#" data-bind="text: $data+1, click: function() { $root.currpage($data) }"></a></li>
                            <!-- /ko -->
                            <li>
                                <a href="#" data-bind=", click: function() { $root.currpage(pages()[pages().length-1]); }">
                                    <i class="material-icons">last_page</i>
                                </a>
                            </li>
                        </ul>
                    </div> <!-- row: pagination buttons -->
                </div> <!-- container -->
            </div> <!-- section -->
        </div> <!-- main -->
    </div> <!-- wrapper -->
    <!-- ko foreach: filteredArticles -->
    <div class="modal fade" data-bind='attr: {"id": $index()}' role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 data-bind="text: $data.title" class="modal-title"></h3>
                    <h3><small><span data-bind="text: $data.journal"></span></small></h3>
                    <h5 data-bind="text: $data.authorList"></h5>
                </div>
                <div class="modal-body">
                    <h3>Abstract</h3>
                    <p data-bind="text: $data.text"></p>
                </div>
            </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
    </div> <!-- modal -->
    <!-- /ko -->
{% endblock %}
