{% extends "bootstrap/base.html" %}
{% block title %}MIS-Research{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/jquery.min.js') }}"
    type="text/javascript">
</script>
<script src="{{ url_for('static', filename='vendors/knockout.js') }}"
    type="text/javascript">
</script>
<script src="{{ url_for('static', filename='vendors/Chart.min.js') }}"
    type="text/javascript">
</script>
<script type="text/javascript"
    src="{{ url_for('static', filename='research/main-embed.js')}}">
</script>
{% endblock %}

{% block content %}
    <div class="container">
    {% block page_content %}
        <h3>Articles Per Year</h3>
        <div class="row">
            <canvas id="articles_per_year" height="100"></canvas>
        </div>
        <br><br>
        <h3>Citations Per Year</h3>
        <div class="row">
            <canvas id="citations_per_year" height="100"></canvas>
        </div>
        <br><br>
        <h3>Articles Published This Year</h3>
        <div class="row">
            <canvas id="all-chart" height="70"></canvas>
        </div>
        <br><br>
        <h3>Articles Categorized by Scopus Research Areas</h3>
        <div class="row">
            <h5 class="text-left">Scopus Research Areas <i class="fa fa-chevron-right"></i></h5>
            <p class="text-left">PHAR=Pharmacology, Toxicology and Pharmaceuticals,
                BIOC=Biochemistry, Genetics and Molecular Biology,
                CENG=Chemical Engineering, NEUR=Neuroscience, COMP=Computer Science,
                HEAL=Health Profession, MATH=Mathematics, PHYS=Physics and Astronomy,
                MULT=Multidisciplinary, AGRI=Agriculture and Biological Sciences,
                MEDI=Medicine</p>
            <canvas id="article-by-field" height="150"></canvas>
        </div>
        <br><br>
        <div class="row">
            <h3>Recent Research Articles 2010-present</h3>
            <br>
            <div class="form-group col-xm-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input id="articleSearch" type="search"
                        data-bind="textInput: query" class="form-control"
                        placeholder="Search for title, journal and authors..."/>
                </div>
            </div>
            <h4 data-bind="if: query()!==''">Found <span data-bind="text: filteredArticles().length"></span></h4>
            <div>
                <button class="btn btn-default" role="button"
                    data-bind="click: sortArticlesByTitle">Sort by Title
                    <span data-bind="visible: reverseSortTitle" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span data-bind="visible: !reverseSortTitle()" class="glyphicon glyphicon-triangle-top"></span>
                </button>
                <button class="btn btn-default" role="button"
                    data-bind="click: sortArticlesByJournal">Sort by Journal
                    <span data-bind="visible: reverseSortJournal" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span data-bind="visible: !reverseSortJournal()" class="glyphicon glyphicon-triangle-top"></span>
                </button>
                <button class="btn btn-default" role="button"
                    data-bind="click: sortArticlesByDate">Sort by Date
                    <span data-bind="visible: reverseSortDate" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span data-bind="visible: !reverseSortDate()" class="glyphicon glyphicon-triangle-top"></span>
                </button>
                <button class="btn btn-default" role="button"
                    data-bind="click: sortArticlesByCitation">Sort by Citation Count
                    <span data-bind="visible: reverseSortCitation" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span data-bind="visible: !reverseSortCitation()" class="glyphicon glyphicon-triangle-top"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <h3 data-bind="if: loading">Preparing the article list...</h3>
            <h4>Page <span data-bind="text: currpage()+1"></span></h4>
            <nav aria-label="Page navigation" data-bind="if: pages().length > 1">
                <ul class="pagination">
                    <li>
                        <a href="#" data-bind="click: function() { $root.currpage(0); }"
                            aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    </li>
                    <!-- ko foreach: {data: pages, as: 'page'} -->
                    <li><a href="#" data-bind="text: $data+1, click: function() { $root.currpage($data) }"></a></li>
                    <!-- /ko -->
                    <li>
                        <a href="#" data-bind=", click: function() { $root.currpage(pages()[pages().length-1]); }"
                            aria-label="Next">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <table class="table">
                <thead>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Date</th>
                    <th>Authors</th>
                </thead>
                <tbody data-bind="foreach: {data: paginated, as: 'article'}">
                    <tr>
                        <td>
                            <a href="#" role="button" data-toggle="modal"
                                data-bind='attr: {"data-target": "#" + $index()}'>
                                <span data-bind="text: article.title"></span>
                            </a>
                            <strong>Cited</strong> <span data-bind="text: article.citedByCount" class="badge"></span>
                        </td>
                        <td data-bind="text: article.journal" width="10%"></td>
                        <td data-bind="text: article.coverDateString" width="10%"></td>
                        <td data-bind="foreach: article.authors" width="35%">
                            <span data-bind="text: name"></span>,
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>Page <span data-bind="text: currpage()+1"></span></h4>
            <nav aria-label="Page navigation" data-bind="if: pages().length > 1">
                <ul class="pagination">
                    <li>
                        <a href="#" data-bind="click: function() { $root.currpage(0); }"
                            aria-label="Previous">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span>
                        </a>
                    </li>
                    <!-- ko foreach: {data: pages, as: 'page'} -->
                    <li><a href="#" data-bind="text: $data+1, click: function() { $root.currpage($data) }"></a></li>
                    <!-- /ko -->
                    <li>
                        <a href="#" data-bind="click: function() { $root.currpage(pages()[pages().length-1]); }"
                            aria-label="Next">
                            <span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- ko foreach: filteredArticles -->
                <div class="modal fade" data-bind='attr: {"id": $index()}' role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 data-bind="text: $data.title"><h3>
                                <h3><small><span data-bind="text: $data.journal"></span></small></h3>
                                <h5 data-bind="text: $data.authorList"></h5>
                                <h3>Abstract</h3>
                            </div>
                            <div class="modal-body">
                                <p data-bind="text: $data.text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    {% endblock %}
    </div>
{% endblock %}