{% extends "base.html" %}
{% block title %}MIS-Research{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript"
    src="{{ url_for('static', filename='research/main.js')}}">
</script>
{% endblock %}

{% block page_content %}
    <h1>Main Page</h1>
    <h3>Research Articles</h3>
    <div class="form-group col-xm-4">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <input id="articleSearch" type="search"
                data-bind="textInput: query" class="form-control"
                placeholder="Search for title, journal and authors..."/>
        </div>
    </div>
    <button class="btn btn-default" role="button"
        data-bind="click: sortArticlesByDate">Sort by Date</button>
    <table class="table">
        <thead>
            <th>Title</th>
            <th>Abstract</th>
            <th>Citations</th>
            <th>Authors</th>
        </thead>
        <tbody data-bind="foreach: {data: filteredArticles, as: 'article'}">
            <tr>
                <td data-bind="text: article.title"></td>
                <td data-bind="text: article.journal"></td>
                <td data-bind="text: article.cover_date_string"></td>
                <td data-bind="foreach: article.authors">
                    <a href="/" data-bind="text: name"></a>,
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}